---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- assign lang = page.lang | default: "en" -%}
      {%- for post in site.posts -%}
        {%- if lang == "pt-br" -%}
          {%- if post.url contains "/pt-br/" -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
          {%- endif -%}
        {%- else -%}
          {%- unless post.url contains "/pt-br/" -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
      {%- if lang == "pt-br" -%}
        assinar <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
      {%- else -%}
        subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
      {%- endif -%}
    </p>
  {%- endif -%}
</div>
